        body {
            margin: 0;
            padding: 0;
            font-family: 'Verdana', sans-serif;
        }
        html{
            margin:0;
            padding:0;
        }

        /* Add these styles for the button */
        .menu-icon button {
            background: transparent;
            border: none;
            display: inline-block;
        }

        .navbar {
            background-color: transparent;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            padding-left: 40px;
            padding-right: 40px;
            z-index: 1020; 
            position: -webkit-sticky;
            position: fixed;
            width:100%;
            top: 0;
            transition: background-color 0.5s, border-radius 0.5s, box-shadow 0.5s;
        }

        .menu-option {
            display: flex; 
            gap: 20px; 
            opacity: 0;
            transition: opacity 0.5s ease;
        }

        .menu-option div {
            cursor: pointer;
            font-size: 18px; 
            color: rgb(0, 0, 0); 
        }

        

        .menu-option > div:hover{
            color: goldenrod;
        }
        .menu-option > span >div:hover{
            color: goldenrod;
        }

        .scopes li:hover{
            color:#9a0c0c;
            font-weight: bold;
        }
        .dropdown {
            position: relative;
            display: inline-block;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #ffffff;
            padding: 10px;
            z-index: 1;
            border-radius: 4px;

            
        }
        
        .dropdown-content div {
            color: rgb(0, 0, 0);
            padding: 5px 0;
            cursor: pointer;
            border-radius: 4px;
            border-bottom: 2px solid transparent;
            padding-bottom: 4px;
            transition: border-bottom-color 0.3s ease;
        }
        
        .dropdown-content div:hover {
            
            border-bottom-color: goldenrod;
        }
        
        .dropdown:hover .dropdown-content {
            display: block;
        }

       
        
        /* Adjust existing styles */
        .menu-icon {
            display: flex;
            gap: 20px;
            opacity: 0;
            transition: opacity 0.5s ease;
        }
        
        .menu-icon div {
            cursor: pointer;
            font-size: 18px;
            color: black;
            transition: color 0.3s ease;
        }
        
        .menu-icon div:hover {
            color: goldenrod;
        }
        
        .navbar.scrolled .menu-icon div {
            color: #000;
        }
        
        .navbar.scrolled .menu-icon {
            opacity: 1;
        }
        
        
        

     

        .datestable{
            width: 90%;
            border-collapse: collapse;
            margin: 20px 0;
            font-size: 15px;
        }
        .datestable th, .datestable td {
            padding: 12px;
            border: 1px solid #ddd;
            text-align: left;
        }
        .datestable th {
            background-color: #efc4c4;
        }
        .datestable tr:nth-child(odd) {
            background-color: #efc4c4;
        }
        
        .datestable tr:nth-child(even):hover {
            background-color: #efc4c4;
        }
        @media only screen and (max-width:990px) {
            .datestable{
                font-size: 13px;
            }
        }

        .section1{
            display:flex;
            justify-content: space-between;
            flex-direction: row;
            padding:40px;
            gap:40px;
        }
        .left{
            width: 50%;
        }
        .registration{
            width:50%;
        }
        @media only screen and (max-width:750px) {
            .section1{
                display:flex;
                justify-content: space-between;
                flex-direction: column;
                padding:40px;
                gap:40px;
            }
            .left{
                width: 100%;
            }
            .datestable{
                font-size: 15px;
            }
            .registration{
                width:100%;
            }
        }
        .scope{
            padding-top: 40px;
        }
       
       
        .logo img {
            max-height: 40px; 
        }

        .menu-icon {
            position: relative;
            z-index: 1011; 
        }

        .menu-icon svg {
            fill: #430608;
            width: 40px;
            height: 40px;
        }
        #cross-menu{
            fill: #430608;
            width: 40px;
            height: 40px;
        }
        .gradient-background {
            background: linear-gradient(to bottom, #430608, #9a0c0c);
            padding: 100px;
            align-items: center;
            align-content: center;
            text-align: center;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 1000; 
            height:100vh;
            margin-top: -70px;
            margin-bottom: 0;
        }

        .real-main-content {
            background-color: white;
            border-top-right-radius: 3%;
            position: relative;
            z-index: 1008;
            top: -8vh; 
            margin-bottom: 0;
            height: 450vh;
        }

        .gb-image {
            color: #ffffff; 
            animation: fadeIn 2s ease;
        }

        .gb-text {
            color: #ffffff; 
            animation: fadeIn 4s ease;
            font-size: 35px;
            padding-top:10px;
        }

        .gb-text2 {
            color: #ffffff; 
            animation: fadeIn 6s ease;
            font-size:24px;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .map-text {
            text-align: left;
            font-size: 24px; 

            text-decoration: none;
            color: #000;
            display: inline-block;
            border-bottom: 2px solid transparent;
            padding-bottom: 4px;
            transition: border-bottom-color 0.3s ease;

        }

        .map-text:hover {
            border-bottom-color: goldenrod ;
        }

      
        .faculty-enrollment {
        position: relative;
    }

    .enrollment-lines {
        padding: 100px 60px 200px 60px;
        background-color: #231f20;
        border-top-left-radius: 15%;
        color: white;
    }
    .enrollment-lines2 {
        padding: 100px 60px 200px 60px;
        background-color: #231f20;
        border-top-left-radius: 15%;
        color: white;
    }
    @media only screen and (max-width:850px) {
        .speakers {
            display:none;
        }
        .speakers-small{
            display:flex;
            gap:40px;
            flex-direction: column;
        }
        .unilogos-sponsor{
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            
            justify-content: center;
            
        }
        .logo-sponsors {
            flex: 0 0 50%; 
            padding: 15px;
        text-align: center;
        align-items: center;
        align-content: center;
          }
        
        .wninety{
            width:80%;
            height:auto;
        }
        .whundred{
            width:80%;
            height:auto;
        }
        .wsixty{
            width:60%;
            height:auto;
        }
        .wfiftyfive{
            width:50%;
            height:auto;
        }
        .wsevenfive {
            width:70%;
            height:auto;
        }
        .whundredten{ width:70%;
            height:auto;} 
        .wsixtyfive{ width:70%;
            height:auto;}
       
    }
    @media only screen and (min-width:851px) {
    .speakers{
        display: flex;
        flex-wrap: wrap;
        gap:20px;
    }
    .speakers-small{
        display:none;
    }
    .unilogos-sponsor{
        display: flex;
        flex-wrap: wrap;
        /*gap:500px;
         padding: 20px;
        flex-direction: row;
        justify-content: space-between;*/   
    }
    .logo-sponsors {
        flex: 0 0 16.66%; /* 100% / 6 = 16.66% width for each image */
        padding: 10px;
        text-align: center;
        align-items: center;
        align-content: center;
      }
    
      .logo-sponsors img {
        height:auto;
      }
    .wninety{
        width:90%;
    }
    .whundred{
        width:100%;
    }
    .wsixty{
        width:60%;
    }
    .wfiftyfive{
        width:55%;
    }
    .wsevenfive{
        width:75%;
    }
    .whundredten{
        width:110%;
    }
    .wsixtyfive{
        width:65%;
    }
}
    .speakertext {
        flex: 1 1 calc(50% - 20px);
        padding: 20px;
        text-align: justify;
       
    }
    .speakerimg {
        flex: 1 1 calc(50% - 20px);
        text-align: center;
        
    }
    .speakertext, .speakerimg h5 {
        font-size:20px;
    }
    .speakerimg img{
        width:auto;
        height:90%;
        border-radius: 5%;
    }
    .faculty {
        border-top-right-radius: 7%;
        background-color: white;
        position: relative;
        top: -15vh; 
        z-index: 1;
        padding:40px;
    }
        .faculty-heading {
            font-size: 32px;
        }

        
 
        
      
        
       
        .logo img{
            height: 100%;
            width: 100%;
        } 

        s
        /*.faculty-members {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 20px;
        }
        .faculty-member {
            text-align: center;
            margin-bottom: 20px;

        }
        .faculty-member:hover .faculty-name{
            color:#9a0c0c;
        }
        .faculty-name{
            font-size: 22px; 
           
        }
        .faculty-count{
            font-size:22px;
            color:#9a0c0c;
            font-weight: bold;
        }

        .faculty-image {
            max-height: 100px;
            width: 100px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 10px;
        } */
        .dark-overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(5, 0, 0, 0.95);
            z-index: 1021;
            border-bottom-right-radius:10%;
        }
        .menu-content {
            background-color: #fff;
            padding: 20px;
            border-top-right-radius: 20%;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        }
        .container {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .user-section, .admin-section {
            text-align: center;
            padding-bottom: 100px;
        }

        .section-title {
            font-size: 40px;
            margin-bottom: 20px;
            color:white;
        }

        .section-links {
            list-style: none;
            padding: 0;
            margin: 0;
            padding-bottom: 10px;
        }

        .section-links li {
            margin-bottom: 5px;
        }

        .section-links a {
            text-decoration:none;
            color: white;
        }
        .section-links a:hover{
            text-decoration: underline;
            text-decoration-color: #9a0c0c;
        }
        .footer {
            background: #231f20;
            padding: 20px;
            text-align: center;
            color:white;
            padding-top:60px;
            padding-bottom: 120px;
            cursor:context-menu;
            z-index: 1012;
            border-top-right-radius: 10%;
            margin-top: -60px;
            
        }

        .footer h3 {
            font-size: 24px;
        }

        .footer p {
            font-size: 18px;
        }

        .contact-us {
            display: flex;
            justify-content: space-around;
            margin-top: 40px;

        }

        .contact-info {
            text-align: left;
        }

        .site-info {
            text-align: left;
            font-size:16px;
        }

        .contact-info h4 {
            font-size: 20px;
        }

        .site-info h4 {
            font-size: 20px;
        }
        .site-info p{
            font-size:16px;
        }
        .site-info h5 {
            font-size: 18px;
        }

        .site-info p {
            margin: 5px 0;
        }
        
   